__pycache__/
*.py[cod]
.git/
.gitignore
*.egg-info/
dist/
build/
.venv/
venv/
data/
models/checkpoints/
mlruns/
.dvc/
.gitattributes
.gitignore
*.ipynb
.ipynb_checkpoints/
tests/
docs/
terraform/
k8s/
notebooks/
coverage/
.pytest_cache/
.env*
*.md
Makefile
